NEXT_PUBLIC_AGORA_ENV=dev
NEXT_PUBLIC_NEAR_QUORUM_THRESHOLD_PERCENTAGE=0.35
NEXT_PUBLIC_NEAR_QUORUM_FLOOR_VENEAR=7000000
NEXT_PUBLIC_NEAR_CONTRACT_ID=
NEXT_PUBLIC_NEAR_VOTING_CONTRACT_ID=
NEXT_PUBLIC_NEAR_STAKING_POOL_ID=
NEXT_PUBLIC_NEAR_LINEAR_TOKEN_CONTRACT_ID=
NEXT_PUBLIC_NEAR_STNEAR_TOKEN_CONTRACT_ID=

TENDERLY_ACCESS_KEY=
TENDERLY_USER=
TENDERLY_PROJECT=
